.search-bar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-input {
    padding-right: 40px; /* Adjust padding for the clear button */
  }
  
  .clear-btn {
    position: absolute;
    right: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
  }
  
  .clear-btn:hover {
    color: black;
  }
  